* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #f4f5f6;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

a {
    text-decoration: none;
}

button {
    white-space: nowrap;
}

nav {
    background-color: #121a29;
}

nav a,
nav i {
    color: #fafbfc !important;
}

nav img {
    width: 40px;
    height: 40px;
    margin-right: 10px;
}

.navbar-toggler {
    background-color: #f4f5f6;
    position: relative;
}

@media (max-width: 576px) {
    .navbar-toggler {
        left: 0px;
    }

}

.navbar-toggler-icon {
    color: #121a29;
}

.selected-item {
    background-color: #404652;
    border-radius: 20px;
}

/* footer */

footer {
    background-color: #121a29;
    min-width: 300px;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.social-links {
    display: flex;
    gap: 8px;
    align-items: center;
}

.social-text {
    display: flex;
    align-items: center;
    gap: 8px;
}

.social-links i {
    font-size: 24px;
    transition: all 0.2s ease-in-out;
    color: #fafbfc;
}

.social-links i:hover {
    transform: scale(1.1);
}

.social-links ul {
    display: flex;
    gap: 12px;
    list-style-type: none;
}